﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">warehouseserver</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="donvitinh">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Đơn vị tính
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="loaisanpham">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Loại sản phẩm
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kho">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Kho
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sanpham">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sản phẩm
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nhacungcap">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Nhà cung cấp
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nhapkho">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Nhập kho
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="baocaonhapkho">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Báo cáo nhập kho
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="xuatkho">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Xuất kho
            </NavLink>
        </div>

    </nav>
</div>