@using warehouseserver.Services
@using warehouseserver.Models
@using Microsoft.AspNetCore.Components.Forms
@inject KhoService khoService

<EditForm Model="@kho" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="tenkho">Tên kho</label>
        <InputText id="tenkho"
                   @bind-Value=kho.TenKho
                   class="form-control" />
        <ValidationMessage For="@(() => kho.TenKho)" class="text-danger" />
    </div>
    <div class="form-group">
        <label for="ghichu">Ghi chú</label>
        <InputText id="ghichu"
                   @bind-Value=kho.GhiChu
                   class="form-control" />
    </div>

    
    <button type="submit" class="btn btn-primary">Lưu</button>
</EditForm>

@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public EventCallback OnSuccess { get; set; }

    private Kho kho = new Kho();

    protected override async Task OnParametersSetAsync()
    {
        kho = await khoService.GetKhoById(Id);
    }

    private async Task HandleValidSubmit()
    {
        if (kho != null)
        {
            var success = await khoService.UpdateKho(kho);
            if (success)
            {
                await OnSuccess.InvokeAsync();
            }
            else
            {
                Console.WriteLine("Cập nhật thất bại!");
            }
        }
    }
}
