@using warehouseserver.Services
@using warehouseserver.Models
@using Microsoft.AspNetCore.Components.Forms
@inject DonViTinhService DonViTinhService

<EditForm Model="@DonViTinh" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="tendonvitinh">Tên Đơn Vị Tính</label>
        <InputText id="tendonvitinh"
                   @bind-Value=DonViTinh.TenDonViTinh
                   class="form-control" />
        <ValidationMessage For="@(() => DonViTinh.TenDonViTinh)" class="text-danger" />
    </div>

    <div class="form-group">
        <label for="ghi_chu">Ghi Chú</label>
        <InputText id="ghi_chu"
                   @bind-Value=DonViTinh.GhiChu
                   class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
</EditForm>

@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public EventCallback OnSuccess { get; set; }

    private DonViTinh DonViTinh = new DonViTinh();

    protected override async Task OnParametersSetAsync()
    {
        DonViTinh = await DonViTinhService.GetDonViTinhById(Id);
    }

    private async Task HandleValidSubmit()
    {
        if (DonViTinh != null)
        {
            var success = await DonViTinhService.UpdateDonViTinh(DonViTinh);
            if (success)
            {
                await OnSuccess.InvokeAsync();
            }
            else
            {
                Console.WriteLine("Cập nhật thất bại!");
            }
        }
    }
}
